<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <button class="btn btn-primary" type="button" (click)="goToAddOpportunity()" style="background-color: red; border-color: red;">
            <i class="fas fa-plus"></i> Ajouter Opportunité
        </button>
    </div>

    <div class="col-md-6 mb-3 text-md-end">
        <a href="/chart" class="btn btn-primary" style="background-color: gray; border-color: gray;">Voir le graphique
            <i class="fa fa-bar-chart"></i>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Spécialité</th>
            <th scope="col">Capacité</th>
            <th scope="col">Statut</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let opportunity of opportunities; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ opportunity.title }}</td>
            <td>{{ opportunity.endDate }}</td>
            <td>{{ opportunity.specialite }}</td>
            <td>{{ opportunity.capacity }}</td>
            <td>
                    <span style="color: {{ (currentDate > opportunity.endDate) ? 'red' : 'green' }}">
                        {{ (currentDate > opportunity.endDate) ? 'Terminée' : 'En cours' }}
                    </span>
            </td>
            <td>
                <div class="d-flex justify-content-center">

                    <button type="button" class="btn btn-primary btn-fill" [routerLink]="['/update_opportunity', opportunity.id_Opportunity]" ><i class="fa fa-edit"></i></button>

                    <button type="button" class="btn btn-danger me-2" (click)="confirmDeleteOpportunity(opportunity.id_Opportunity)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="generateQRCode(opportunity.id_Opportunity)">
                        <i class="fa fa-qrcode"></i> QR Code
                    </button>
                </div>
                <div class="text-center mt-2">
                    <img *ngIf="opportunity.qrCodeImage" [src]="opportunity.qrCodeImage" alt="QR Code" style="max-height: 100px;">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

