<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <button class="btn btn-lg btn-outline-danger btn-block my-3" style="font-size: 2rem;" (click)="addQuestion()">Ajouter Question</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-outline-danger btn-block my-3" style="font-size: 2rem;" (click)="viewNotes()">Liste Quiz</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-outline-secondary btn-block my-3" style="font-size: 2rem;" (click)="addQuiz()">Ajouter Quiz</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-outline-secondary btn-block my-3" style="font-size: 2rem;" (click)="QuizResult()">Quiz Result</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
