<div class="container " >
  <!-- Left Text-->
  <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
    <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
      <img
              class="img-fluid"
              [src]=" 'assets/images/pages/login-v2.svg'"
              alt="Login V2"
      />
    </div>
  </div>
  <!-- /Left Text-->
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Having a bit of a problem accessing your account</h2>
        <h4 class="animation a2">Type in your email to reset your password!</h4>
      </div>
      <div class="form " >
        <input type="text" id="email" class="form-field animation a3" name="email" placeholder="Email Address">
        
        <ng-container>
          <button class="btn btn-primary btn-block" (click)="sendToken()">Send reset token</button>
        </ng-container>
        
        <ng-container>
          <input type="text" id ="email1" class="form-field animation a4"  required placeholder="Email Address">
          <input type="text" id ="code" class="form-field animation a4"  required placeholder="Reset Code">
          <input type="password" id ="password" class="form-field animation a5"  required placeholder="New Password">
          <button class="btn btn-primary btn-block" (click)="resetPassword()">Reset Password</button>
        </ng-container>
      </div>
    </div>
  </div>
  