<form #newOppForm="ngForm" (ngSubmit)="onSubmit(newOppForm)">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type" [(ngModel)]="type" required>
            <option value="Exchange_Semester">Exchange_Semester</option>
            <option value="Double_Degree">Double_Degree</option>
            <option value="Master_Double_Degree">Master_Double_Degree</option>
        </select>
    </div>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="starDate" [(ngModel)]="startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate">
    </div>
    <div class="form-group">
        <label for="capacity">Capacity</label>
        <input type="number" class="form-control" id="capacity" name="capacity" [(ngModel)]="capacity" required>
    </div>
    <div class="form-group">
        <label for="needs">Needs</label>
        <input type="number" class="form-control" id="needs" name="needs" [(ngModel)]="needs" required>
    </div>
    <div class="form-group">
        <label for="Grade">Grade</label>
        <select class="form-control" id="Grade" name="grade" [(ngModel)]="grade" required>
            <option value="First_Year">First_Year</option>
            <option value="Second_Year">Second_Year</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Specialite">Specialité</label>
        <select class="form-control" id="Specialite" name="specialite" [(ngModel)]="specialite" required>
            <option value="ALL">ALL</option>
            <option value="SAE">SAE</option>
            <option value="TWIN">TWIN</option>
            <option value="INFINI">INFINI</option>
            <option value="BI">BI</option>
            <option value="SIM">SIM</option>
        </select>
    </div>
    <div class="form-group">
        <label for="coef1stYear">Coefficient 1st Year</label>
        <input type="number" class="form-control" id="coef1stYear" name="coef1stYear" [(ngModel)]="Coef1stYear">
    </div>
    <div class="form-group">
        <label for="coef2stYear">Coefficient 2nd Year</label>
        <input type="number" class="form-control" id="coef2stYear" name="coef2stYear" [(ngModel)]="Coef2stYear">
    </div>
    <div class="form-group">
        <label for="coef3stYear">Coefficient 3rd Year</label>
        <input type="number" class="form-control" id="coef3stYear" name="coef3stYear" [(ngModel)]="Coef3stYear">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>