

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom de la faculté</th>
        <th scope="col">Moyenne 1ère année</th>
        <th scope="col">Moyenne 2ème année</th>
        <th scope="col">Moyenne 3ème année</th>
        <th scope="col">Score</th>
        <th scope="col">Statut</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidacy of Condidacies; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ candidacy.nameFaculte }}</td>
        <td>{{ candidacy.moyenne_1year }}</td>
        <td>{{ candidacy.moyenne_2year }}</td>
        <td>{{ candidacy.moyenne_3year }}</td>
        <td>{{ candidacy.score }}</td>
        <td>{{ candidacy.idTable }}</td>
        <td>
            <button class="btn btn-primary" (click)="sendEmail(candidacy.idTable)">Envoyer l'e-mail</button>
        </td>
    </tr>
    </tbody>
</table>
