<ng-template #modalEditOpportunity let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">
            Edit Opportunity {{ Opportunity.Id_Opportunity }}
        </h4>
        <button
                type="button"
                class="close"
                (click)="modal.dismiss('Cross click')"
                aria-label="Close"
        >
            <span aria-hidden="true" style="color: red">&times;</span>
        </button>
    </div>
    <div
            class="modal-body"
            tabindex="0"
            ngbAutofocus
            style="display: flex; justify-content: center"
    >
        <div style="justify-content: center; width: 80%">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <br />
                    <label for="title">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            required
                            pattern="[A-Za-z0-9 ]{4,}"
                            formControlName="title"
                            placeholder="Enter title"
                    />
                    <div
                            *ngIf="editForm['controls'].title.errors?.pattern"
                            class="alert alert-danger"
                    >
                        Title must contain more than 3 characters
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                            class="form-control"
                            id="description"
                            required
                            formControlName="description"
                            placeholder="Enter description"
                    ></textarea>
                    <div
                            *ngIf="editForm['controls'].description.errors?.required"
                            class="alert alert-danger"
                    >
                        Description is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="type">Type</label>
                    <select
                            class="form-control"
                            id="type"
                            required
                            formControlName="type"
                    >
                        <option value="Exchange_Semester">Exchange Semester</option>
                        <option value="Internship">Internship</option>
                        <option value="Training">Training</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input
                            type="number"
                            class="form-control"
                            id="capacity"
                            required
                            formControlName="capacity"
                            placeholder="Enter capacity"
                    />
                </div>

                <div class="form-group">
                    <label for="start-date">Start Date</label>
                    <input
                            type="date"
                            class="form-control"
                            id="start-date"
                            required
                            formControlName="starDate"
                            placeholder="yyyy-mm-dd"
                    />
                </div>

                <div class="form-group">
                    <label for="end-date">End Date</label>
                    <input
                            type="date"
                            class="form-control"
                            id="end-date"
                            required
                            formControlName="endDate"
                            placeholder="yyyy-mm-dd"
                    />
                </div>

                <div class="form-group">
                    <label for="needs">Needs</label>
                    <input
                            type="number"
                            class="form-control"
                            id="needs"
                            required
                            formControlName="needs"
                            placeholder="Enter needs"
                    />
                </div>

                <div class="modal-footer">
                    <button
                            type="submit"
                            class="btn btn-success"
                            [disabled]="!editForm.valid"
                    >
                        Save
                    </button>
                    <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="modal.dismiss('cancel click')"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
