<div class="form-group">
    <label for="code">Code:</label>
    <input type="text" class="form-control" id="code" [(ngModel)]="code">
</div>
<button class="btn btn-primary" (click)="retrieveCandidaciesByCode()">Rechercher</button>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Opportunity Title</th>
        <th scope="col">Moyenne_1year</th>
        <th scope="col">Moyenne_2year</th>
        <th scope="col">Moyenne_3year</th>
        <th scope="col">score</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidacy of Condidacies; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ candidacy.nameFaculte }}</td>
        <td>{{ candidacy.moyenne_1year }}</td>
        <td>{{ candidacy.moyenne_2year }}</td>
        <td>{{ candidacy.moyenne_3year }}</td>
        <td>{{ candidacy.score }}</td>
        <td>{{ candidacy.idTable }}</td>
        <td>
            <button class="btn btn-primary" (click)="sendEmail(candidacy.idTable)">Envoyer l'e-mail</button>
        </td>
    </tr>
    </tbody>
</table>
